*{
    margin: 0;
    padding: 0;
}

header,
header * {
    /* outline: 1px violet */
    dashed;
}

header {
    display: flex;
    padding: 1rem;
    align-items: center;

    & > div {
        display: flex;
        justify-content: space-between;
        width: 100%
        padding: 1rem;
        & > img {
            width: 10px;

        }

        & > div {
            display: flex;
            flex-direction: row;
        }
    }
}